<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc 
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<jpa:repositories base-package="com.nordnet.opale.repository"
		entity-manager-factory-ref="entityManagerFactory" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<!-- database support -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/opale_test" />
		<property name="username" value="test" />
		<property name="password" value="test" />
	</bean>
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="opale" />
		<property name="persistenceXmlLocation" value="classpath:/META-INF/persistence-test.xml" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.unitils.orm.jpa.util.provider.hibernate.UnitilsHibernateJpaVendorAdapter">
				<property name="database" value="MYSQL" />
				<property name="showSql" value="false" />
			</bean>
		</property>
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
		<property name="defaultPersistenceUnitName" value="opale" />
	</bean>

	<!-- Bean d'acces au Contexte -->
	<bean id="applicationContextHolder"
		class="com.nordnet.opale.util.spring.ApplicationContextHolder" />

	<!-- <context:annotation-config /> -->
	<!-- scan du projet -->
	<context:component-scan base-package="com.nordnet.opale.adapter" />
	<context:component-scan base-package="com.nordnet.opale.domain" />
	<context:component-scan base-package="com.nordnet.opale.repository" />
	<context:component-scan base-package="com.nordnet.opale.service" />
	<context:component-scan base-package="com.nordnet.opale.rest" />
	<context:component-scan base-package="com.nordnet.opale.validator" />
	<context:component-scan base-package="com.nordnet.opale.draft.test.generator" />
	<context:component-scan base-package="com.nordnet.opale.calcule" />
	
	<bean id="restURLProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:rest-url.properties" />
	</bean>
	
	<!-- declaration du restTemplate avec un custom 'errorHandler' -->
	<bean class="org.springframework.web.client.RestTemplate">
    	<property name="errorHandler">
        	<bean class="com.nordnet.opale.rest.RestClientResponseErrorHandler" />
    	</property>
	</bean>
	
	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />
	
	<bean id="opaleExceptionsProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:opale-exceptions.properties" />
	</bean>
	
	<bean id="env"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:env.properties" />
	</bean>
	
	<bean id="dynamicProperties" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!-- check property file(s) every 1 second -->
        <property name="cacheSeconds" value="1"/>
        <property name="basenames">
            <list>
                <value>dynamic</value>
            </list>
        </property>
    </bean>
    
    <!-- Mock contrat rest -->
	<bean id="restClient" class="com.nordnet.opale.test.mock.RestClientMock" />
	<context:component-scan base-package="com.nordnet.topaze.ws" />
    <bean id="topazeClient" class="com.nordnet.topaze.ws.client.TopazeClient" />
    
	 <bean id="netCatalogClientFake" class="com.nordnet.netcatalog.ws.client.fake.NetCatalogClientFake" /> 
	 <bean id="dozerMapper" class="org.dozer.DozerBeanMapper" scope="singleton"/>
	 
	 		
	<bean id="tracageServiceMock" class="com.nordnet.opale.mock.LogMock"/>
	
	<!-- Mandatelibrary service Fake -->
    <bean id="mandatelibrary" class="com.nordnet.mandatelibrary.ws.client.fake.MandateLibraryFake" />
    
</beans>
